#
# SPDX-License-Identifier: Apache-2.0
#
# Please fill out these values for Organzation {{name}}
---
api_endpoint: <apiendpoint for {{name}}>
api_authtype: basic
api_key: xxxx
api_secret: xxxxxxxxxxxxxxxx